.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
  width: 100%;
  height: 120px;
  margin-top: 0px;
  background-color: #7d12af;
  color: white;
  padding-left: 200px;
  text-decoration: none;
  

}
.mainpage {
  background: linear-gradient(to right, #41C9E2, #008DDA);
}
.card-body{
  border-width: thick;
  background-color: #F7EEDD

}
.card-body:hover{
  border-width: thick;
  background-color: rgb(207, 78, 78);
  color: white;
}
.card-text{
  color: black;
}
/* .card-img{
  object-fit: cover;
} */
#image-div{
  object-fit: cover;
  background-color: #F7EEDD;
  margin-right: 0px;
}
.card{
  background-color: rgb(252, 186, 81);
  box-shadow: 5px 7px rgb(163, 117, 117);
  
}
.card:hover{
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-color: #282c34;
  box-shadow: 5px 7px rgb(109, 214, 207);
  color: rgb(44, 17, 248);
}
.card:hover .card-text,.card:hover .card-title{
  color: white;
}
@keyframes pulse {
  from { transform: scale(1); }
  50% { transform: scale(1.1); }
  to { transform: scale(1); }
}

.fe-pulse-w-pause {
  animation-name: pulse;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
}
.fe-pulse-w-pause:hover,
.fe-pulse-w-pause:focus {
  animation-name: unset;
}

#reviewbutton{
  text-decoration: none;
  color: white;
}
.navbarss{
  text-decoration: none;
  color: rgb(255, 241, 241);
  font-weight: bold;
  padding-left: 60px;
  padding-right: 60px;
}
.navbarss:hover{
  color: rgb(24, 255, 232);
}
.footer{
  background-color: rgb(52, 52, 52);
  color: white;
}
.input {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #0D1117;
  justify-content: center;
  border-radius: 5px
}

.value {
  background-color: transparent;
  border: none;
  padding: 10px;
  color: white;
  display: flex;
  position: relative;
  gap: 5px;
  cursor: pointer;
  border-radius: 4px;
}

.value:not(:active):hover,
.value:focus {
  background-color: #21262C;
}

.value:focus,
.value:active {
  background-color: #1A1F24;
  outline: none;
}

.value::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  width: 5px;
  height: 80%;
  background-color: #2F81F7;
  border-radius: 5px;
  opacity: 0;
}

.value:focus::before,
.value:active::before {
  opacity: 1;
}

.value svg {
  width: 15px
}